.verse-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: left;
}

.verse-number {
  color: #999;
  vertical-align: super;
  font-weight: bold;
  font-size: .8em;
}

.form-nav {
  text-align: center;
}